@import '_variables.scss';
@import '_base.scss';

body {
	background-color: #f1f1f7;
	margin: 40px;
}

svg {
	path {
		stroke-width: 1px;
		stroke-color: $white;
	}
	text {
		@extend .medium;
		font-weight: $fontWeightLight;
		fill: $medGray;
	}
	.vertical-axis {
		rect {
			shape-rendering: crispEdges;
			opacity: 0.15;
			fill: $blue;
			&.odd {
				opacity: 0;
			}
		}
	}
}

h1 {
	font-weight: 100;
	margin-bottom: 20px;
}

#hover {
	padding: 10px;
	background: $darkGray;
	border: 1px solid $black;
	color: $white;
	z-index: $zTooltip;
	opacity: 0.0;
	position: absolute;
	border-radius: 8px;
	pointer-events: none;

	ul {
		padding: 10px 0 0 0;
	}
	h5 {
		padding-top: 0px;
		color: $white;
	}
}