@import '_variables.scss';
@import '_base.scss';

body {
	background-color: #f1f1f7;
}

svg {
	path {
		stroke-width: 1px;
		stroke-color: $white;
	}
	text {
		@extend .small;
	}
	line {
		.vertical-axis {
			stroke-width: 1px;
			stroke-color: $black;
		}
	}
}

#hover {
	visibility: hidden;
	padding: 10px;
	background: $darkGray;
	border: 1px solid $black;
	color: $white;
	z-index: $zTooltip;
	opacity: 0.95;
	position: absolute;
	border-radius: 8px;
	pointer-events: none;

	ul {
		padding: 10px 0 0 0;
	}
	h5 {
		padding-top: 0px;
		color: $white;
	}
}