@import '_variables.scss';
@import '_base.scss';

body {
	background-color: #f1f1f7;
	padding: 20px 40px 20px 40px;
	margin: 0px;
	@include box-sizing(border-box);
}

svg {
	path {
		stroke-width: 1px;
		stroke-color: $white;
	}
	text {
		font-weight: $fontWeightMedium;
		fill: $medGray;
		&.xLabel {
			font-size: 11px;
			fill: $gray;
		}
	}
	.vertical-axis {
		rect {
			shape-rendering: crispEdges;
			opacity: 0.15;
			fill: $blue;
			&.odd {
				opacity: 0;
			}
		}
	}
	text.line-label {
		font-weight: bold;
		fill: $medGray;
		text-shadow: $textShadow;
		pointer-events: none;
	}
}

.header {
	h1 {
		font-weight: 100;
		border-top: 2px solid #555;
		padding-top: 10px;
		width: 90%;	
	}

	h5 {
		padding-top: 0px;
		color: $medGray;
		font-size: $fontSizeM;
		font-weight: $fontWeightMedium;
		text-transform: uppercase;
		float: left;
		width: 50%
	}

	.descr {
		clear: both;
		margin-bottom: 20px;
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
		color: #555;
		max-width: 700px;
	}
	.stats {
		.stat {
			float: left;
			width: 23%;
			.number {
				font-size: $fontSizeL;
				font-weight: $fontWeightMedium;
				.pct {
					font-size: $fontSizeM;
					font-weight: $fontWeightMedium;
					color: $medGray;
				}
			}
			.country {
				text-transform: uppercase;
				font-weight: $fontWeightMedium;
				font-size: $fontSizeS;
				color: $medGray;
			}
			.descr {
				margin-top: -3px;
				font-weight: $fontWeightMedium;
				font-size: $fontSizeS;
				color: $medGray;
			}
		}
	}
	.linkTo {
		float: right;
		font-weight: $fontWeightNormal;
		font-size: $fontSizeS;
		text-transform: uppercase;
		cursor: pointer;
		margin-right: 10%;
		text-align: right;
		width: 40%;
	}
}